.divbody {
//background-image: linear-gradient(to bottom right, white, yellow, red, black, green, blue, red, blue, green, black, red, yellow, white);
background-image: linear-gradient(to bottom right, #8080ff, #ff66b3, #66ffd9);
height: 1800px;
width: 1000px;
}
.btnenter {
color: black;
font-size: 90px;
border-radius: 30px;
border: 10px solid black;
width: 300px;
height: 225px;
position: absolute;
left: 480px;
top: 1090px;
}
@keyframes hell1 {
0%  {left: 600px;top: 200px;}
25% {left: 20px;top: 200px;}
50% {left: 20px;top: 800px;}
75% {left: 600px;top: 800px;}
100% {left: 600px;top: 200px;}
}
@keyframes hell12 {
0%  {left: 520px;top: 200px;}
25% {left: 520px;top: 800px;}
50% {left: 520px;top: 100px;}
75% {left: 520px;top: 800px;}
100% {left: 520px;top: 200px;}
}
@keyframes hell2 {
0%  {left: 180px;top: 200px;}
25% {left: 600px;top: 200px;}
50% {left: 600px;top: 900px;}
75% {left: 180px;top: 900px;}
100% {left: 180px;top: 200px;}
}
@keyframes hell3 {
0%  {left: 600px;top: 450px;}
25% {left: 600px;top: 700px;}
50% {left: 100px;top: 700px;}
75% {left: 100px;top: 450px;}
100% {left: 600px;top: 450px;}
}
@keyframes hell4 {
0%  {left: 380px;top: 450px;}
25% {left: 600px;top: 450px;}
50% {left: 600px;top: 800px;}
75% {left: 380px;top: 800px;}
100% {left: 380px;top: 450px;}
}
@keyframes hell5 {
0%  {left: 400px;top: 760px;}
25% {left: 10px;top: 750px;}
50% {left: 10px;top: 50px;}
75% {left: 400px;top: 50px;}
100% {left: 400px;top: 760px;}
}
@keyframes hell6 {
0%  {left: 220px;top: 760px;}
25% {left: 220px;top: 50px;}
50% {left: 600px;top: 50px;}
75% {left: 600px;top: 760px;}
100% {left: 220px;top: 760px;}
}
.header {
background: linen;
border-radius: 20px;
border: 5px solid black;
width: 500px;
height: 300px;
left: 250px;
top: 0px;
}
.header1 {
font-size: 60px;
position: fixed;
left: 350px;
top: 100px;
color: red;
}
.header2 {
font-size: 30px;
left: 300px;
top: 250px;
}
.header3 {
font-size: 30px;
left: 250px;
top: 250px;
}
.floor {
font-size: 20px;
border: 5px solid white;
border-radius: 30px;
height: 1450px;
width: 900px;
left: 50px;
top: 200px;
background-image: linear-gradient(to bottom right, grey, black, black, grey);
color: white;
}
.infoProg {
font-size: 20px;
height: 350px;
width: 600px;
left: 250px;
top: 1650px;
background: linen;
}
.sec1 {
background: black;
color: white;
font-size: 15px;
position: fixed;
height: 50px;
width: 100px;
border: 10px solid black;
left: 100px;
//right: 850px;
top: 450px;
//bottom: 1350px;
}
.sec2 {
background: red;
color: white;
font-size: 15px
position: fixed;
height: 50px;
width: 100px;
border: 10px solid black;
left: 250px;
//right: 650px;
top: 450px;
//bottom: 1350px;
}
.sec3 {
background: blue;
color: white;
font-size: 15px
position: fixed;
height: 50px;
width: 100px;
border: 10px solid black;
left: 400px;
//right: 500px;
top: 450px;
//bottom: 1350px;
}
.sec4 {
background: yellow;
color: white;
font-size: 15px;
position: fixed;
height: 50px;
width: 100px;
border: 10px solid black;
left: 550px;
//right: 350px;
top: 450px;
//bottom: 1350px;
}
.sec5 {
background: purple;
color: white;
font-size: 15px;
position: fixed;
height: 50px;
width: 100px;
border: 10px solid black;
left: 700px;
//right: 200px;
top: 450px;
//bottom: 1350px;
}
